@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-brand: #3b82f6;
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

:root {
  --background: var(--color-slate-50);
  --foreground: var(--color-slate-900);
}

.dark {
  --background: var(--color-slate-950);
  --foreground: var(--color-slate-100);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition-property: color, background-color;
  transition-duration: 200ms;
}

.filter-dark-pdf canvas {
  filter: invert(1) hue-rotate(180deg) !important;
}

.react-pdf__Page {
  background-color: transparent !important;
}